@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

html,
body {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#c {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transition: width 200ms ease-in, height 200ms ease-in;
}

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: linear-gradient(to top, #000000, #4e4e4e);
  transition: opacity 400ms ease-in;
  font-family: "Karla", sans-serif;
}

.loading-container {
  position: absolute;
  background: transparent;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  color: white;
}

#loader {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  height: 20px;
  border: 1px solid gray;
  padding: 4px;
}

#load-description {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#loaded-items-number {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#progress {
  position: relative;
  top: 0;
  left: 0;
  background: #7f9897;
  height: 100%;
  margin: 0;
  transform-origin: top left;
  transform: scaleX(0);
  transition: transform 250ms ease;
}

img {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  display: block;
}

button {
  position: relative;
  display: block;
  width: 60px;
  height: 20px;
  background: #3c3131;
  z-index: 999;
  color: #efefef;
  border-radius: 5px;
  font-size: 11px;
  border: 1px solid gray;
  transition: background-color 300ms ease, border-color 300ms ease;
  cursor: pointer;
  left: calc(100% - 70px);
  font-family: "Karla", sans-serif;
}

button:hover {
  background: #1a1717;
  border-color: #b5b5b5;
}

#boom-btn {
  top: 10px;
}

#restart-btn {
  top: 25px;
}

.run-hide-animation {
  animation: hide 0.5s ease-in 1;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
